@media only screen and (max-width: 800px) {
    header .logo {
        z-index: 999;
    }

    header .logo img {
        width: 103px !important;
        height: auto;
    }
    nav {
        display: grid;
    }

    .toggle {
        display: inline-flex !important;
    }

    header nav ul li {
        display: block;
        text-align: center;
    }

    header nav ul li:hover {
        transform: translateY(0px);
        transform: translateX(4px) !important;

    }

    header ul {
        position: fixed;
        top: -100%;
        text-align: justify;
        background-color: #010040;
        border-radius: 0px 0px 10px 10px;
        height: 50%;
        width: 100%;
        padding: 70px 0 !important;
        transition: all 0.5s ease-in-out;
        z-index: 55;
        display: grid;
        place-items: center;
    }
    header nav ul li a:hover {
        color: white !important;
        transition: all 0.2s ease-in-out;
    }
    #checkbox:checked~ul {
        top: 0;
        right: 0px;

    }

    .bars {
        float: right;
        position: relative;
        z-index: 99;
    }

    .about .btn:hover .download {
        transform: translateY(0%)
    }
    

}

@media (min-width: 768px) and (max-width: 1023px) {
    .custom-shape-divider-top-1709201830 svg {
        width: calc(271% + 1.3px);
        height: 207px;
    }
}

@media (max-width:992px) {
    header nav ul li a {
        font-size: 12px;
    }
    header nav ul li {
        list-style: none;
        display: inline-block;
        margin: 0 11px;
        transition: all 0.2s ease-in-out;
    }

    header .logo img {
        width: 150px;
        height: auto;
    }

    .chat {
        width: 49px;
        height: 41px;
        font-size: 22px;
    }

    .scroll-up-btn {
        width: 49px;
        height: 41px;
        font-size: 22px;
    }

    .phone {
        width: 46px;
        height: 46px;
    }

    /* banner */
    .banner .name h4 {
        font-size: 16px;
    }

    .banner .name h1 {
        font-size: 53px;
    }

    .banner .name p {
        font-size: 22px;
    }

    /* about */
    .about {
        background-position: -25px 24px
    }

    .about .about-img .web-img {
        width: 255.722px;
        height: 245px;
    }

    /* edu */
    .education .course {
        font-size: 16px;
    }

    .education .venue {
        font-size: 20px;
    }

    .education .year {
        font-size: 12px;
    }

    .education .row .bg {
        width: 75%;
    }

    /* contact */
    .contact-me .get-in-touch .social ul li {
        margin: 0 2px;

    }

    .contact-me .get-in-touch .social ul li div i {
        font-size: 16px;
    }

    .contact-me .get-in-touch .social ul li div {
        width: 32px;
        height: 32px;
    }

    /* footer */
    footer .container a {
        font-size: 12px;
    }

    footer .container h4 {
        font-size: 12px;
    }
}

@media only screen and (max-width: 991.5px) {
   
    /* contact */
    .contact-me .get-in-touch {
        width: 100%;
        height: 460px;
    }
}

@media only screen and (max-width: 768px) {

    /* fixed */
    .phone {
        display: none;
    }

    .msg-items {
        top: 68%;
        left: 3.8%;
    }

    /* banner */
    .banner .name h1 {
        font-size: 42px;
    }

    .banner .row {
        padding: 30px 0;
    }

    .banner .col-md-6 {
        margin: 40px 0;
    }

    .banner .photo-frame {
        /* width: 219.52px;
        height: 268px; */
        width: 170px;
        height: 210px;
    }

    .banner .photo {
        /* width: 215px;
        height: 261px; */
        width: 170px;
        height: 210px;
    }
    .banner canvas {
        width: inherit;
        height: inherit;
    }

    .button-82-front {
        font-size: 1.25rem;
        padding: 5px 26px;
    }

    /* about */
    .about {
        background-size: auto 100%;
    }

    .about .p-web-img {
        display: none;
    }

    .about .row {
        display: flex;
        justify-content: center;
    }

    .about .content {
        text-align: center;
    }

    .about .content p {
        width: 85%;
        margin: 0 auto;
        text-align: center;
    }
    .about .download {
        display: none;
    }

    /* edu */
    .education .course {
        font-size: 12px;
    }

    .education .venue {
        font-size: 16px;
    }

    .education .year {
        font-size: 10px;
    }

    .education .row .bg {
        width: 75%;
    }

    .about {
        background-image: url(../img/about/network\ 1.png);
        background-repeat: no-repeat;
        background-size: auto 100% !important;
        background-position: center !important;
    }

    /* skills */
    .skil .content {
        text-align: center;
    }

    .skil .content p {
        margin: 0 auto;
        width: 95%;
    }

    /* works */
    .my-works .bg-block {
        display: grid;
    }

    .my-works .bg-block3 .work {
        padding: 14px 17px;
        margin: 4px 0;
        width: 300px;
        height: 233.964px;
    }

    .my-works .bg-block3 .work h5 {
        font-weight: normal;
    }

    .my-works .bg-block3 .work .btn {
        font-size: 10px;
        font-weight: 500;
    }
    .my-works .bg-block3 .work:hover h5 {
        font-size: 10px;
        top: 40%;
    }
    /* contact */
    .contact-me .get-in-touch {
        width: 100%;
        height: auto;
    }
}